
CleanerCore/out/artifacts/CleanerCore_jar/CleanerCore.exe
*.db
*.vsidx
*.db-shm
ClearToolbox/.vs/ClearToolbox/FileContentIndex/read.lock
ClearToolbox/.vs/ClearToolbox/v17/Browse.VC.db-wal
ClearToolbox/.vs/ClearToolbox/v17/Browse.VC.opendb
ClearToolbox/ClearToolbox.sln
ClearToolbox/ClearToolbox/ClearToolbox.vcxproj
ClearToolbox/ClearToolbox/ClearToolbox.vcxproj.filters
ClearToolbox/ClearToolbox/ClearToolbox.vcxproj.user
ClearToolbox/.vs/ClearToolbox/v17/.suo
ClearToolbox/.vs/ClearToolbox/v17/ipch/AutoPCH/c0895bd7f12cce76/SOURCE.ipch
ClearToolbox/ClearToolbox/Source.cpp
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.Build.CppClean.log
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.exe.recipe
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.ilk
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.log
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.tlog/CL.command.1.tlog
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.tlog/CL.read.1.tlog
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.tlog/CL.write.1.tlog
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.tlog/ClearToolbox.lastbuildstate
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.tlog/link.command.1.tlog
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.tlog/link.read.1.tlog
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.tlog/link.write.1.tlog
ClearToolbox/ClearToolbox/x64/Debug/ClearToolbox.vcxproj.FileListAbsolute.txt
ClearToolbox/ClearToolbox/x64/Debug/Source.obj
ClearToolbox/ClearToolbox/x64/Debug/vc143.idb
ClearToolbox/ClearToolbox/x64/Debug/vc143.pdb
ClearToolbox/x64/Debug/ClearToolbox.exe
ClearToolbox/x64/Debug/ClearToolbox.pdb
